In [1]:
#! pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------ --------------------- 20.5/45.0 kB 217.9 kB/s eta 0:00:01
   ------------------------------------ --- 41.0/45.0 kB 281.8 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 318.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
import urllib.parse

In [2]:
pw = os.getenv('my_SQL_pw')
pw = urllib.parse.quote_plus(pw)

In [4]:
connection_string = 'mysql+pymysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [5]:
color_df = pd.read_csv('colors.csv')
inventory_df = pd.read_csv('inventories.csv')
inventory_part_df = pd.read_csv('inventory_parts.csv')
inventory_set_df = pd.read_csv('inventory_sets.csv')
part_category_df = pd.read_csv('part_categories.csv')
part_df = pd.read_csv('parts.csv')
set_df = pd.read_csv('sets.csv')
theme_df = pd.read_csv('themes.csv')

In [6]:
# créer la database avant sur SQL (=schema)

color_df.to_sql(name='color', con=engine, schema='lego', index=False, if_exists='replace')
inventory_df.to_sql(name='inventory', con=engine, schema='lego', index=False, if_exists='replace')
inventory_part_df.to_sql(name='inventory_part', con=engine, schema='lego', index=False, if_exists='replace')
inventory_set_df.to_sql(name='inventory_set', con=engine, schema='lego', index=False, if_exists='replace')
part_category_df.to_sql(name='part_category', con=engine, schema='lego', index=False, if_exists='replace')
part_df.to_sql(name='part', con=engine, schema='lego', index=False, if_exists='replace')
set_df.to_sql(name='set', con=engine, schema='lego', index=False, if_exists='replace')
theme_df.to_sql(name='theme', con=engine, schema='lego', index=False, if_exists='replace')

614

In [ ]:
# conn = mysql.connector.connect (
#     host= 'localhost'
#     user = 'your_username'
#     password = 'your_password'
#     database = 'your_database_name'
# )

In [8]:
# reading an SQL table on pandas DF
a_new_color_df = pd.read_sql_table (table_name = 'color',con=engine,schema='lego')
a_new_color_df

       id                          name     rgb is_trans
0      -1                       Unknown  0033B2        f
1       0                         Black  05131D        f
2       1                          Blue  0055BF        f
3       2                         Green  237841        f
4       3                Dark Turquoise  008F9B        f
..    ...                           ...     ...      ...
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

[135 rows x 4 columns]

In [10]:
sql_query = """ 

    select rgb, left (rgb, 2),
    case when left(rgb, 2) < '64' then 'A little red'
				when left(rgb, 2) < 'B0' then 'Medium red'
                else 'very red'
                end as redness_1,
			case when left(rgb, 2) < '64' then 'A little red'
				when left(rgb, 2) < 'B0' then 'Medium red'
                end as redness_2
                from lego.color;
"""

In [11]:
a_new_color_df2 = pd.read_sql(sql = sql_query,con=engine)
a_new_color_df2

        rgb left (rgb, 2)     redness_1     redness_2
0    0033B2            00  A little red  A little red
1    05131D            05  A little red  A little red
2    0055BF            00  A little red  A little red
3    237841            23  A little red  A little red
4    008F9B            00  A little red  A little red
..      ...           ...           ...           ...
130  FCB76D            FC      very red          None
131  FBE890            FB      very red          None
132  B4D4F7            B4      very red          None
133  8E5597            8E    Medium red    Medium red
134  05131D            05  A little red  A little red

[135 rows x 4 columns]

In [ ]:
import pymysql

db_conn = pymysql.connect(host="localhost", 
                          user="root", 
                          password=os.getenv('mysql_andy'),
                          database="bechdel",
                          cursorclass=pymysql.cursors.DictCursor)
    
    
# Get the movies
with db_conn.cursor() as cursor:
    cursor.execute("""
        create database lunchtime
            """)
    # results = cursor.fetchone()

db_conn.close()